* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

body {
  height: 100vh;
  background: #060AB2;
  display: flex;
}

.about {
  background-color: #fff;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.about h2 {
  color: #478ece;
  font-size: 3em;
  text-align: center;
}

.about img {
  padding: 1em;
  width: 90%;
}

.about p {
  color: #696969;
  font-style: italic;
  font-size: 0.8em;
}

.memory-game {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4em 1.5em;

}

.memory-card {
  width: 20%;
  background-color: #478ece;
  margin: 0.5em;
  padding: 0.5em;
  display: flex;
  justify-content: center;
}

.front-face {
  display: none;
}